extends layout

block content
    main.container
        .row
            .col
                h1(id="rubrik1"  class="media-heading text-center rubrik" style="margin-top: 0.8rem; margin-bottom: 0.8rem;") Aktuellt
        .row
            .col-md-4
                img(id="image1" class="embed-responsive" src="images/stenar.jpg" alt="stenar")
            .col-md-8
                b.text Upptäck ditt bildspråk
                p.text Här får du möjlighet att prova på att arbeta med bild som kommunikation. Med några enkla bildövningar kan du upptäcka ditt eget personliga bildspråk. Du får sedan möjlighet att dela dina reflexioner med gruppen under min ledning. Att ha målat förut är inget krav! <br> Gruppledare är Gunilla Berglund bildterapeut/socionom.
                button(class="btn btn-info" data-toggle="collapse" data-target="#readmore") läs mer
                div(id="readmore" class="collapse")
                    p.text Vi träffas 6 timmar, antingen dagtid en helg eller vid tre träffar på kvällstid. Gruppen startar när minst 5 personer anmält sig. Kostnad 450:- inklusive material. Är Du intresserad av att delta? Anmäl Dig då via mail till kgunillak@gmail.com
                    b.text Att bryta sina mönster, en möjlighet att förändra ett alkohol/drogberoende.
                    p.text Ett erbjudande om att individuellt eller i grupp öppet prata om riskbruk, missbruk eller beroende. Bildspråket i kombination med samtalet kan vara en ny väg framåt bort från beroendet. Ta kontakt via mail kgunillak@gmail.com för mer information och intresseanmälan. Jag hör då av mig till Dig. För att veta mer om min bakgrund och arbetssätt, gå till startsidan och läs min presentation under rubriken ”Vi bildterapeuter.”
                    p.text Gunilla Berglund <br> Bildterapeut/socionom
                
                    b.text Individuell bildterapi

                    p.text Om Du har önskemål om individuell bildterapi; gå vidare till rubriken Vi bildterapeuter. Där kan du se vilka som arbetar i Bildterapihuset. Du kan då själv ta kontakt via mail eller telefon.
                
                