extends layout

block content
    main.container
        .row
            .col
                h1(id="rubrik1" class="media-heading text-center rubrik" style="margin-top: 1rem; margin-bottom: 1rem;") Välkommen till bildterapihuset
        .row
            .col-md-4
                img(id="image1" class="embed-responsive" src="images/kritor.jpg" alt="kritor")
            .col-md-8
                p(class="lead") Bildterapihuset drivs av ett nätverk av bildterapeuter. Vi har vår verksamhet i en funktionellt inredd lokal på Brogatan 5. Huset ligger inne på gården, i huset bakom Swefo foto. Vår lokal ligger i källarvåningen och det står Bildterapihuset på dörren. Vi erbjuder bildterapi för individer, familjer och grupper, handledning, kurser och workshops. Klicka på länken ”Vi bildterapeuter” så ser du vilka vi är och hur du får kontakt med oss.
                button(class="btn btn-info" data-toggle="collapse" data-target="#readmore") läs mer
                div(id="readmore" class="collapse")
                    p.text Bildterapi är en komplementär terapiform som använder bildskapande och samtal för utforskning och bearbetning av tankar, känslor och minnen. Bildterapi kan hjälpa människor att lösa problem, minska stress, stärka självkänslan och komma till insikt. För utförligare information: http://www.bildterapi.se/bildterapi.html
                    b.text Bildterapi passar för dig som söker
                    p.text - Utveckling och förändring på det personliga planet <br> - Stöd i bearbetning av en aktuell eller genomgången kris <br> - Andra uttryckssätt än orden
                    b.text Bildterapeutiska metoder passar för gruppen som vill
                
                    p.text - Undersöka och förbättra sina kommunikationsmönster <br> - Utveckla kreativitet, lust och motivation i arbetet <br> - Lära känna sig själva och varandra

                    p.text Vi är högskoleutbildade bildterapeuter med lång yrkeserfarenhet från socialt arbete, vård, specialpedagogik och själavårdande arbete. Vi är alla medlemmar i Sveriges Riksförbund för bildterapeuter (SRBt), följer deras Etiska riktlinjer och erhåller handledning på vårt arbete.

                    p.text Ytterligare information och bokningar via kgunillak@gmail.com
                
                